.container {
    max-width: 500px;
}

.text-primary {
    font-weight: bold;
}

.card {
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.submitbutton {
    padding-top: 1rem;
}

.btn-primary:disabled {
    background: #9a9fa3;
}

.btn-primary {
    background: linear-gradient(45deg, #007bff, #0056b3);
    border: none;
    transition: background 0.3s ease;
}

.btn-primary:hover {
    background: linear-gradient(45deg, #0056b3, #003580);
}

.form-label {
    padding-top: 1.5rem;
}

label.required::after {
    content: " *";
    color: red;
    font-weight: bold;
}

.required {
    color: red;
    font-weight: bold;
    margin-left: 5px;
}

.instructions {
    font-size: 0.8rem;
    padding-left: 0.8rem;
}

.text-danger {
    font-size: smaller;
}

.extension {
    width: 80%;
    padding: 10px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    background-color: #f9f9f9;
    color: #333;
    transition: border-color 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.extension:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    background-color: white;
}

.extension::placeholder {
    color: #aaa;
    font-style: italic;
}