<div class="container mt-5">
    <div class="card shadow-lg p-4 rounded">
        <h2 class="text-center text-primary mb-4">MDMI Service</h2>

        <form (ngSubmit)="onSubmit()" #form="ngForm">
            <div class="mb-3">
                <label for="ServiceName" class="form-label required">Service Name</label>
                <input type="text" id="ServiceName" class="form-control" [(ngModel)]="ServiceName" name="ServiceName"
                    required #textServiceNameRef="ngModel" />
                <div class="text-danger" *ngIf="textServiceNameRef.invalid && textServiceNameRef.touched">This field is
                    required.</div>
            </div>

            <div class="mb-3">
                <label for="ServiceVersion" class="form-label required">Service Version</label>
                <input type="text" id="ServiceVersion" class="form-control" [(ngModel)]="ServiceVersion"
                    name="ServiceVersion" required #textServiceVersionRef="ngModel" />
                <div class="text-danger" *ngIf="textServiceVersionRef.invalid && textServiceVersionRef.touched">This
                    field is required.</div>
            </div>

            <br>
            <div class="mb-3">
                <label class="form-label">Select MDMI Maps</label>
                <div class="maps">
                    <div *ngFor="let map of Maps" class="checkboxclass">
                        <label class="checkboxtext">
                            <input type="checkbox" [(ngModel)]="map.checked" name="map.name">
                            {{ map.label }}
                        </label>
                    </div>
                </div>
                <div *ngIf="selectedMapsNumber < 2" class="text-danger mb-3 instructions">
                    <strong>* Please select at least two Maps.</strong>
                </div>
            </div>
            <div class="submitbutton">
                <button type="submit" class="btn btn-primary w-100"
                    [disabled]="form.invalid || selectedMapsNumber < 2">Create Service</button>
                <a href="#" class="ask-question" onclick="askQuestion()">Create a custom MDMI map?</a>
            </div>
        </form>
    </div>
</div>